<%- include('../partials/web-header.ejs') %>
<div class="container mx-auto max-w-[1770px]">
  <img src="<%= contents.POLICY_BANNER_1 %>" alt="" srcset="" class="" />
</div>
<div class="container mx-auto my-24 px-5">
  <h1>Chính Sách Mua Hàng</h1>
  <p>Almost before</p>
  <div class="flex my-8 items-center">
    <svg width="10" height="10" class="mr-5" xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="5" fill="#7A9576" />
    </svg>
    <p class="font-bold">Phương thức đặt hàng</p>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
    <div class="flex flex-col p-4 items-center">
      <h1 class="text-lg">Đặt Hàng</h1>
      <img src="/img/dathang.png" alt="" srcset="" class="w-56 h-56" />
    </div>
    <div class="flex flex-col p-4 items-center">
      <h1 class="text-lg">Thanh Toán</h1>
      <img src="/img/thanhtoan.png" alt="" srcset="" class="w-56 h-56" />
    </div>
    <div class="flex flex-col p-4 items-center">
      <h1 class="text-lg">Vận Chuyển</h1>
      <img src="/img/vanchuyen.png" alt="" srcset="" class="w-56 h-56" />
    </div>
    <div class="flex flex-col p-4 items-center">
      <h1 class="text-lg">Nhận Hàng</h1>
      <img src="/img/nhanhang.png" alt="" srcset="" class="w-56 h-56" />
    </div>
  </div>
</div>
<div class="container mx-auto my-24 px-5">
  <h1>Câu hỏi thường gặp</h1>
  <p>Almost before</p>
  <div class="accordion mt-8">
    <div class="accordion-item bg-white mb-2 active">
      <button
        class="accordion-header flex justify-between w-full p-4 text-left text-gray-700 focus:outline-none border-b-[1px] border-[#131B13]"
      >
        <div class="flex items-center">
          <svg
            width="10"
            height="10"
            class="mr-5"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="5" cy="5" r="5" fill="#7A9576" />
          </svg>
          <span>Almost before we knew it, we had left the ground.</span>
        </div>
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
      <div class="accordion-content text-gray-700">
        <p>
          This is the content for accordion Almost before we knew it, we had
          left the ground.
        </p>
      </div>
    </div>
    <div class="accordion-item bg-white mb-2">
      <button
        class="accordion-header flex justify-between w-full p-4 text-left text-gray-700 focus:outline-none border-b-[1px] border-[#131B13]"
      >
        <div class="flex items-center">
          <svg
            width="10"
            height="10"
            class="mr-5"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="5" cy="5" r="5" fill="#7A9576" />
          </svg>
          <span>Almost before we knew it, we had left the ground.</span>
        </div>
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
      <div class="accordion-content text-gray-700">
        <p>
          This is the content for accordion Almost before we knew it, we had
          left the ground.
        </p>
      </div>
    </div>
    <div class="accordion-item bg-white mb-2">
      <button
        class="accordion-header flex justify-between w-full p-4 text-left text-gray-700 focus:outline-none border-b-[1px] border-[#131B13]"
      >
        <div class="flex items-center">
          <svg
            width="10"
            height="10"
            class="mr-5"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="5" cy="5" r="5" fill="#7A9576" />
          </svg>
          <span>Almost before we knew it, we had left the ground.</span>
        </div>
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
      <div class="accordion-content text-gray-700">
        <p>
          This is the content for accordion Almost before we knew it, we had
          left the ground.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto my-24 px-5">
  <h1>Chứng nhận</h1>
  <p>Almost before</p>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-8">
    <div class="flex flex-col p-4 items-center">
      <img src="/img/cn1.png" alt="" srcset="" />
    </div>
    <div class="flex flex-col p-4 items-center">
      <img src="/img/cn4.png" alt="" srcset="" />
    </div>
    <div class="flex flex-col p-4 items-center">
      <img src="/img/cn5.png" alt="" srcset="" />
    </div>
    <div class="flex flex-col p-4 items-center">
      <img src="/img/cn6.png" alt="" srcset="" />
    </div>
  </div>
</div>
<%- include('../partials/web-footer.ejs') %>
