@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

.scrolling-up {
    animation: scroll-up 35s linear infinite;
}

.scrolling-down {
    animation: scroll-down 30s linear infinite;
}

.scrolling-up img, .scrolling-down img {
    display: block;
}

h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
}

.active{
    font-weight: 600;
    color: #7A9576;
    font-size: 20px;
}

.accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
    opacity: 0;
  }
  .accordion-item.active .accordion-content {
    max-height: 500px; /* Adjust according to content size */
    opacity: 1;
    padding: 16px;
    font-weight: normal;
  }